---
const greeting: string = "Hello, world";
const course: string = "Github Actions for Frontend Developers";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hello, world</title>
  </head>
  <body>
    <h1>{greeting}</h1>
    <h2>{course}</h2>
  </body>
</html>
